<div>
  <h1><%= @article.title %></h1>
    <em>Published <%= @article.created_at.strftime('%b %d, %Y') %></em>
    <p>Filed under: <% @article.categories.each do |category| %>
        <span id="category-link" class="label label-primary"><%= link_to category.name, category %>&nbsp;<% end %></span>
    </p>
    <div><%= @article.content %></div>
</div>
