/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */

/* this fixes the form issue where the page moves to the left */
form#new_article,
form#new_article .form-actions {
    margin-bottom:0px;
}

#category-link a {
    color: white;
    font-weight: normal;
}

#navlinkright {
    float: right;
}

#session-buttons {
    float:right;
    color: white;
    margin-top:5px;
}
